root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120
# Existing base package contains underscores; renaming it is outside the current scope.
ktlint_standard_package-name = disabled
# Compose convention: @Composable functions returning UI use PascalCase.
ktlint_function_naming_ignore_when_annotated_with = Composable
